# =========== Core ML ===========
einops
supervision

# =========== Image processing ===========
opencv-python
Pillow
matplotlib
pycocotools

# =========== API & Web ===========
fastapi
uvicorn
python-multipart
pydantic

# =========== Desktop App (optional) ===========
pywebview

# =========== Tools ===========
tqdm
scipy
pyyaml

# =========== OpenAI SDK ===========
openai

# =========== MobileSAM ===========
git+https://github.com/ChaoningZhang/MobileSAM.git

sagemaker-inference

python-dotenv
boto3
requests
